$primary-color: #3498db;
$font-stack: 'Helvetica, sans-serif';

body {
  font-family: $font-stack;
  background-color: #f4f4f4;

  header {
	background-color: $primary-color;
	padding: 20px;
	color: white;
  }
}

nav {
  height: 10vh;
  width: 100%;
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 2.5rem;
}

nav li a {
  text-decoration: none;
  color: white;
}

nav li a:hover {
  color: green}

Can be converted into something like this in .scss: 
nav {
  height: 10vh;
  width: 100%;
  display: flex;

  ul {
    list-style: none;
    display: flex;
  }

  li {
    margin-right: 2.5rem;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color:green;
      }
    }
  }
}

